[Unit]
Description=ktrl

[Service]
User=ktrl
Environment=HOME=/opt/ktrl
ExecStart=/usr/local/bin/ktrl -d <keyboard-dev-path>
  
[Install]
WantedBy=multi-user.target
