// blah blah 
//

(
    tap_hold_wait_time: 300,
    tap_dance_wait_time: 1000,
    layers: [
        // Layer 0: Base Layer
        {
            // This sticky TD is very useful for Spacemacs helm up-down navigation with J/K
            KEY_CAPSLOCK:  Tap(Key(KEY_LEFTCTRL)),
            KEY_LEFTCTRL:  Tap(Multi([Key(KEY_LEFTCTRL), Sound(Error)])),

            KEY_A:   TapHold(Key(KEY_A), Key(KEY_LEFTSHIFT)),
            KEY_D:   TapDance(3, Key(KEY_D), KeySticky(KEY_LEFTSHIFT)),
            // KEY_F6:  Tap(KeySticky(KEY_LEFTSHIFT)),
            // KEY_F7:  Tap(MomentaryLayer(1)),
            // KEY_F8:  Tap(Key(KEY_A)),
            // KEY_F9:  Tap(Meh),
            // KEY_F10: Tap(Hyper),
            // KEY_F11: Tap(KeySeq([KEY_LEFTCTRL, KEY_LEFTALT, KEY_LEFTSHIFT])),
            // KEY_F12: Tap(ToggleLayer(1)),
        },
        // Layer 1
        {
            // KEY_A: TapHold(Key(KEY_A), Key(KEY_LEFTSHIFT)),
            // KEY_S: TapHold(Key(KEY_S), Key(KEY_LEFTALT)),
        },
    ],
)
