name: build-everything

on:
  workflow_dispatch:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build-linux:
    uses: ./.github/workflows/linux-build.yml
  build-windows:
    uses: ./.github/workflows/windows-build.yml
  build-macos:
    uses: ./.github/workflows/macos-build.yml
