name: cargo-checks

on:
  push:
    branches: [ "main" ]
    paths:
      - Cargo.*
      - src/**/*
      - cfg_samples/**/*
      - test_cfgs/**/*
      - .github/workflows/**/*
  pull_request:
    branches: [ "main" ]
    paths:
      - Cargo.*
      - src/**/*
      - cfg_samples/**/*
      - test_cfgs/**/*
      - .github/workflows/**/*

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check fmt
      run: cargo fmt --all --check

  build-test-clippy-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: "persist-cross-job"
        workspaces: ./
    - run: rustup component add clippy
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests all features
      run: cargo test --all-features --verbose
    - name: Run clippy no features
      run: cargo clippy -- -D warnings
    - name: Run clippy all features
      run: cargo clippy --all-features -- -D warnings

  build-test-clippy-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target:
          - x86_64-pc-windows-msvc
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: "persist-cross-job"
        workspaces: ./
    - run: rustup component add clippy
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests all features
      run: cargo test --all-features --verbose
    - name: Run clippy no features
      run: cargo clippy
    - name: Run clippy all features
      run: cargo clippy --all-features
