name: cargo-checks

on:
  push:
    branches: [ "main" ]
    paths:
      - Cargo.*
      - src/**/*
      - keyberon/**/*
      - cfg_samples/**/*
      - parser/**/*
      - .github/workflows/rust.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - Cargo.*
      - src/**/*
      - keyberon/**/*
      - parser/**/*
      - cfg_samples/**/*
      - .github/workflows/rust.yml

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check fmt
      run: cargo fmt --all --check

  build-test-clippy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:

        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc

          - build: macos
            os: macos-latest
            target: x86_64-apple-darwin

    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: "persist-cross-job"
        workspaces: ./
    - run: rustup component add clippy
    - name: Run tests
      run: cargo test --all
    - name: Run tests all features
      run: cargo test --all --all-features
    - name: Run clippy no features
      run: cargo clippy --all -- -D warnings
    - name: Run clippy all features
      run: cargo clippy --all --all-features -- -D warnings
